/* ASSETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-top: 80px;
    font-family: sans-serif;
}

.page-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* /ASSETS */

/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #ff6900;
    z-index: 2;
}

.navbar-items {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items #categories ul li {
    list-style-type: none;
    display: inline;
}

#categories ul li a {
    text-decoration: none;
    color: white;
}

#categories ul li a:hover {
    text-decoration: underline;
}

#logo img {
    height: 32px;
}

#menu-icons svg {
    height: 19px;
    width: 17px;
    fill: white;
}

/* /NAVBAR */

/* MAIN */

main {
    margin: 50px;
}

main .row-1 {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main .row-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



main .image img {
    height: 540px;
    width: 350px;
}

main .image {
    position: relative;
}

.green {
    max-width: 100px;
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 35px;
    background-color: green;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

.green-variant {
    max-width: 100px;
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: green;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

.red {
    max-width: 50px;
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

.heart {
    padding: 8px 18px;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    font-size: 3em;
    background-color: white;
}

.heart a {
    text-decoration: none;
    color: black;
}

.heart a:hover {
    color: red;
}

/* /MAIN */

/* FOOTER */

footer {
    height: 100px;
    background-color: #1a1a1a;
}

.footer-items {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-items #info,
#socials {
    height: 30px;
    width: 80px;
    background-color: white;
    /*test*/
}

/* /FOOTER */